<div class="mat-elevation-z8">
  <mat-toolbar style="height: 70px;">
    <span>Cesta de Benefícios</span>
  </mat-toolbar>

  <mat-list role="list">
    <mat-list-item role="listitem">
      Valor da Cesta: R$ 650,00
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      Valor Utilizado:
      R$ 1.380,00
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      Valor Restante: R$ 0,00
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      Valor Excedente:
      R$ 400,00
    </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-raised-button color="primary">SALVAR ALTERAÇÕES</button>
    </mat-list-item>
  </mat-list>

</div>
<br />
<div class="mat-elevation-z8">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>local_grocery_store</mat-icon>
          <mat-card-title>Ticket Alimentação</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>local_grocery_store</mat-icon>
          <mat-card-title>Ticket Alimentação</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>restaurant_menu</mat-icon>
          <mat-card-title>Ticket Refeição</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>child_friendly</mat-icon>
          <mat-card-title>Creche</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>school</mat-icon>
          <mat-card-title>Bolsa de Estudos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>beach_access</mat-icon>
          <mat-card-title>Previdência Privada</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>enhanced_encryption</mat-icon>
          <mat-card-title>Assistência Odontológica</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center; margin-top: 30px;">
          <mat-checkbox>R$ 21,03</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>local_hospital</mat-icon>
          <mat-card-title>Assistência Médica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>drive_eta</mat-icon>
          <mat-card-title>Estacionamento</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Selecione">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width_1">
              <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>directions_bus</mat-icon>
          <mat-card-title>Transporte Fretado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Selecione">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width_1">
              <input matInput placeholder="Valor" [value]="value"
              currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>directions_railway</mat-icon>
          <mat-card-title>Transporte Coletivo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
