.example-card {
  width: 80%;
  height: 77%;
  position: relative;
}

.material-icons{
  font-size: 40px;
}

.example-full-width{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 30px;
}

.example-full-width_1{
  display:flex;
  justify-content:center;
  align-items:center;
}

.mat-input-element {
  text-align: right;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-right-align {
  text-align: right;
}

.input.example-right-align {
  -moz-appearance: textfield;
}
