.mat-grid-tile {
  margin: 16px;
}

.example-card {
  width: 85%;
  height: 80%;
  position: relative;
}

.material-icons{
  font-size: 40px;
}

.mat-toolbar {
  background:rgba(092,166,220,.87);
  color: #f5f5f5;
}
